/* 
    Created on : 2014.11.25., 11:53:42
    Author     : rych
*/

body {
    margin: 0;
    background-image: url(../../documents/background/abstract-red.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: red;
    
}

#header {
    background-image: url(../../documents/background/red-rhombus.jpg); 
    background-size: 100% 250%;
    background-repeat: repeat;
    padding: 10px 20px;
    color: white;
}
#header a{
    color: white;
}
#header a:hover{
    color: red;
}
#header h1#sitename {
    margin: 0;
}
#navigation a {
    color: white;
    
}
#navigation a:hover{
    color: red;
}

#content {
    padding: 10px 20px;
    background-color: #ea9c9c;
}
#content a {
    color: red;
}
#content a:hover {
    color: black;
}
#uzenetek {
    
}
.uzenetek .felad {
    border-bottom: 1px solid #555;
    color: #555;
    font-weight: bold;
    font-size: 1.3em;
}
.uzenetek .uzi {
    margin: 5px 0;
}
.uzenetek .ido {
    text-align: right;
    font-style: italic;
}
.news {
    margin-bottom: 15px;
}
.news .pname {
    border-bottom: 1px solid #555;
    color: #555;
    font-weight: bold;
    font-size: 1.3em;
}
.news .text {
    margin: 5px 0;
}
.news .date {
    text-align: right;
    font-style: italic;
}

#footer {
    background-color: none;
    color: white;
    padding: 10px 20px;
    text-align: right;

}
#login-block {
    text-align: right;
}
#data {
    text-align: right;
}
#msgArea{
    text-align: right;
}
#uMsg {
    text-align: right;
}
#t1 {
    padding: 10px;
}